<!--header-->
@@if (page == true) {
<header class="header">
}
@@if (page == false) {
<header class="header header--log">
}
    <div class="header__content fixed-block">
        <div class="container header__container">
            <div class="header__body">
                <a href="#" class="header__logo">
                    <img src="img/svg/logo.svg" alt="Logo">
                </a>
                @@if (page == true) {
                <a href="#" class="h4 header__logOut">Выйти</a>
                }
            </div>
        </div>
    </div>
</header>